@import url(https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=PT+Serif);

body {
  font-family: "PT serif";
  background-color: #e5d5bb;
  margin: 0;
  padding: 0;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f8b229;
  text-decoration: underline;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

.header {
  font-family: "Mountains of christmas", serif;
  position: sticky;
  top: 0;
  background-color: #7b0a0a;
  color: #fff;
  margin: 0;
  padding: 5px;
}

.header li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.header ul {
  text-align: center;
}

.footer {
  background-color: #213c18;
  padding: 40px;
  margin-top: 10px;
}

.footer p {
  font-family: "PT Serif", serif;
  text-align: center;
  color: #fff;
}

.page-content {
  margin: 30px;
}

form {
  padding: 20px 0;
  position: relative;
}

textarea {
  resize: none;
  height: 200px;
  width: 400px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrapper {
  flex: 1;
}
